.page {
	height: 100vh;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
}
.gridGame {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	user-select: none;
	background-color: white;
}

.row {
	display: flex;
}

.topLeft {
	width: var(--grid-item-size);
	height: var(--grid-item-size);
	border: 1px solid black;

	img {
		height: 100%;
		width: 100%;
	}
}

.topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
