.page {
  height: 140vh;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  --grid-color: #f2a4f2;
}

.gridGame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  background-color: white;
}

.row {
  display: flex;
  overflow: hidden;
}

.topLeft {
  width: var(--grid-item-size);
  height: var(--grid-item-size);
  border: 1px solid var(--grid-color);

  img {
    height: 100%;
    width: 100%;
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  display: flex;
  align-items: center;

  .title {
    width: 150px;
  }

  .home {
    font-size: 30px;
    cursor: pointer;
  }
}